extends layout

block content
  div#slides_dest(data-val=slides)
  #title
    | lecture
    span#plus &plus;
    | sync
    span#tagline  recording your lectures - slide by slide 
  form(method="post")
    #naming 
      .row
        .col-md-6.col-md-offset-3
          input.form-control(type="text", placeholder="Name of Lecture", name="name") 
      input#delay_values(type="hidden", name="delay_values")
      input#note_values(type="hidden", name="note_values")
      input#submit.btn.btn-success(type="submit", disabled) Submit
  .row
    .col-md-2
      textarea#note.form-control(placeholder="Type notes here...", rows="20", cols="5")

    .col-md-8.text-center
      canvas#the-canvas(style="width:100%", height="1000", width="4000")
      br
      audio(controls)
    .col-md-2
      #controlpanel
        .text-center(style="color:white")
          span
          | Page:
          span#page_num
          | /
          span#page_count
          &nbsp;&nbsp;&nbsp;&nbsp;
        br
        div.text-center
          button#replay.btn.btn-danger(type=button, onclick='audio.play(); goReplay()') Replay
          &nbsp;&nbsp;&nbsp;
        br
        //- button#next( onclick='goNextWrapper()')
          //- img(src='/img/nextslide.png', alt='Next Slide', width='120px')
        input#next(type="image", onclick='goNextWrapper()', src='/img/nextslide.png', width='120px')
        br
        br
        img(src='/img/upload.png', alt='Upload Document', width='130px')
        br
        br
        //- button#start(onclick='toggleRecording(this); goStart()')
        //-   img(src='/img/start.png', alt='Start Recording', width='130px')
        input#start(type="image", onclick='toggleRecording(this); goStart()', src='/img/start.png', width='130px')
        br
        br
        //- input(type="image", src= '/img/done.png', border='0', alt='Done Recording', width='130px')
        //- button#stop(onclick='saveAudio(); goStop()')
        //-   img(src='/img/done.png', alt='Done Recording', width='130px')
        input#stop(type="image", onclick='saveAudio(); goStop()', src='/img/done.png', width='130px', disabled)


block headscripts
  script(src='/js/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/js/AudioContextMonkeyPatch.js')
  script(type='text/javascript', src='/js/pdf.js')
  script(type='text/javascript', src='/js/recorder.js')
  script(type='text/javascript', src='/js/alt-audio.js')

block scripts


  script(type='text/javascript').
    doc=$("#slides_dest").attr("data-val")
    console.log(doc);
  script(src='/js/test.js')

