doctype html
html
  head	
    title= "LectureSync"
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/lecturesync.css')
    block headscripts
  body
    block content
    block scripts