extends layout

block content
  .row
    .col-md-4.col-md-offset-4
      #right
        #Login
          div.text-center
            h2= "Signup"
          br 
          form(role='form', method='post')
            div.form-group
              label user
              input(type="text", class="form-control", name="username", placeholder="Username")
            div.form-group
              label password
              input(type="password", class="form-control", name="password", placeholder="Password")
            #button
              input(type="image", src= '/img/welcome.png', border='0', alt='Login', width='150px')
